:root {
  --purple:   #6a4d75;
  --indigo:   #2a1b40;
  --darkblue: #161a38;
  --blue:     #174e7d;
  --cyan:     #8ac4d9;
  --green:    #676e4c;
  --yellow:   #f4aa51;
  --orange:   #ff7d25;
  --brown:    #734434;
  --red:      #8c301b;
  --white:    #f5efd5;
  --black:    #010303;
  --text:     #cdd6f4;
  --bg:       #091b22;
}

body {
  font-family: 'Fira Code', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  background-color: var(--bg);
  color: var(--text);
  line-height: 1.6;
}

.active {
  display: block;
}

.hidden {
  display: none;
}

header {
  background-color: var(--bg);
  padding: 2rem 1rem;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 2.5rem;
}

.surnames {
  text-transform: uppercase;
  font-weight: bolder;
  color: var(--orange);
}

header p {
  font-size: 1.2rem;
  color: var(--white);
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 2rem 1rem;
}

section {
  margin-bottom: 2rem;
}

h2 {
  border-bottom: 2px solid var(--yellow);
  padding-bottom: 0.5rem;
}


table {
  width: 100%;
  border-collapse: collapse;
}

td {
  vertical-align: top;
  padding: 0.5rem 0;
}

td:first-child {
  width: 150px;
  font-weight: bold;
  color: var(--white);
}

td div {
  margin-bottom: 0.3rem;
}

td div:first-child {
    color: var(--yellow);
}

td div:nth-child(-n + 2) {
  font-weight: bolder;
}

a {
  color: var(--cyan);
  text-decoration: none;
}
 
li strong {
  color: var(--white);
}

.button-wrapper {
  text-align: center;
  margin-top: 2rem;
}

.tty-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--blue);
  color: var(--text);
  border: 2px solid var(--blue);
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-family: monospace;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  white-space: nowrap;
}

.tty-btn .glyph {
  display: inline-block;
  opacity: 0;
  transform: translateX(-0.5rem);
  transition: opacity 0.3s ease, transform 0.3s ease;
  margin-right: 0.3rem;
}

.tty-btn:hover {
  background-color: transparent;
  color: var(--yellow);
}

.tty-btn:hover .glyph {
  opacity: 1;
  transform: translateX(0);
}

.tty-btn .glyph::before {
  content: '❯';
}

.animated-component {
  transition: opacity 1s ease, transform 1s ease-in;
  opacity: 1;
  transform: translateY(0);
}

.animated-component.hide-up {
  opacity: 0;
  transform: translateY(-200px);
  pointer-events: none;
}

.animated-component.hide-down {
  opacity: 0;
  transform: translateY(+500px);
  pointer-events: none;
}
