.hearthian {
  --bg:               #091b22;
  --text:             #cdd6f4;
  --text-alt:         #cdd6f4;
  --text-emph:        #f5efd5;
  --primary:          #ff7d25;
  --primary-light:    #f4aa51;
  --secondary:        #174e7d;
  --secondary-light:  #8ac4d9;
}

.dracula {
  --bg:               #282a36;
  --text:             #f8f8f2;
  --text-alt:         #282a36;
  --text-emph:        #ffffff;
  --primary:          #50fa7b;
  --primary-light:    #69ff94;
  --secondary:        #f1fa8c;
  --secondary-light:  #ffffa5;
}

.catppuccin-mocha {
  --bg:               #1e1e2e;
  --text:             #cdd6f4;
  --text-alt:         #1e1e2e;
  --text-emph:        #bac2de;
  --primary:          #cba6f7;
  --primary-light:    #f5c2e7;
  --secondary:        #89b4fa;
  --secondary-light:  #74c7ec;
}

.catppuccin-latte {
  --bg:               #eff1f5;
  --text:             #4c4f69;
  --text-alt:         #1e1e2e;
  --text-emph:        #6c6f85;
  --primary:          #e64553;
  --primary-light:    #dd7878;
  --secondary:        #f6640b;
  --secondary-light:  #df8e1d;
}

.oldschool {
  --bg:               Black;
  --text:             White;
  --text-alt:         White;
  --text-emph:        Yellow;
  --primary:          Green;
  --primary-light:    LimeGreen;
  --secondary:        Green;
  --secondary-light:  LimeGreen;
}

.tokyonight {
  --bg:               #222436;
  --text:             #c8d3f5;
  --text-alt:         #d9e4f7;
  --text-emph:        #c099ff;
  --primary:          #0db9d7;
  --primary-light:    #828bb8;
  --secondary:        #ff007c;
  --secondary-light:  #3e68d7;
}

.gruvbox {
  --bg:               #282828;
  --text:             #ebdbb2;
  --text-alt:         #ebdbb2;
  --text-emph:        #689d6a;
  --primary:          #98971a;
  --primary-light:    #b8bb26;
  --secondary:        #cc241d;
  --secondary-light:  #fb4934;
}

.monochrome {
  --bg:               Black;
  --text:             White;
  --text-alt:         Black;
  --text-emph:        Gainsboro;
  --primary:          DimGray;
  --primary-light:    Gray;
  --secondary:        Silver;
  --secondary-light:  LightGray;
}
